form {
    /* center form on page */
    margin: 0 auto;
    width: 800px;
    /* to see outline of form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* to make sure all labels are the same size and properly alligned */
    display: block;
    width: 200px;
    text-align: left;
}

input, textarea {
    display: block;

    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}
